@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "/styles/variables.css";
@import "/styles/todo-list.css";
@import "/styles/header.css";
@import "/styles/manage-panel.css";
@import "/styles/main-panel.css";
@import "/styles/bottom-panel.css";
@import "/styles/todo-app.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-app-color);
}