@import "/components/variables.css";
@import "/components/todo-list.css";
@import "/components/header.css";
@import "/components/manage-panel.css";
@import "/components/main-panel.css";
@import "/components/bottom-panel.css";
@import "/components/todo-app.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-app-color);
}