@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --gray-color: #CCCCCC;
    --active-color: #FAFAFA;
    --strikethrough-text-color: #CCCCCC;
    --background-app-color: #f5f5f5;
    --app-color: #ffffff;
    --checkbox-color:  #E6E6E6;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-app-color);
}

.todo-app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5%;
    width: 562px;
    background-color: var(--app-color);
}


.headline__app-name {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 100px;
    color: var(--gray-color);
    background-color: var(--background-app-color);
}

.main-panel {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.manage-panel {
    height: 66px;
    display: flex;
    align-items: center;
}

.manage-panel__select-all-tasks-btn {
    width: 28px;
    height: 66px;
    background: no-repeat center url("img/select-all-tasks-btn.svg");
    border: 0;
    padding-left: 50px;
}

.manage-panel__select-all-tasks-btn:hover {
    cursor: pointer;
}

.manage-panel__textbox {
    border: 0;
    height: 63px;
    width: 532px;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: italic;

}

.manage-panel__textbox:hover {
    cursor: text;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.todo-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--background-app-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.todo-list__item:hover{
    background-color: var(--active-color);
}

.todo-list__item:hover .todo-list__delete-btn{
    background: no-repeat center url("img/delete-btn.svg");
}

.todo-list__item:hover .todo-list__checkmark {
    background-color: var(--active-color);
}

.todo-list__item:hover .todo-list__checkbox {
    background-color: var(--app-color);
}

.todo-list__input {
    margin: 0px;
    margin-left: 11px;
    appearance: none;
    --webkit-appearance:none;
    
    width: 40px;
    height: 40px;
    position: absolute;
}

.todo-list__input:checked + .todo-list__checkbox {
    background: no-repeat center url("img/checkmark.svg");
}

.todo-list__input:checked ~ .todo-list__checkmark {
    color: var(--strikethrough-text-color);
    text-decoration: line-through;
}

.todo-list__input:checked ~ .todo-list__checkmark {
   pointer-events: none;
}

.todo-list__input:hover {
    cursor: pointer;
}

.todo-list__checkbox {
    margin-left: 11px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--checkbox-color);
    border-radius: 20px;
}

.todo-list__checkmark {
    padding: 0;
    width: 440px;
    border: 0;
}

.todo-list__checkmark {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.todo-list__checkmark:hover {
    cursor: text;
}

.todo-list__delete-btn {
    padding: 0;
    background-color: var(--app-color);
    border: none;
    width: 30px;
    height: 30px;
    margin-right: 22px;
}

.todo-list__delete-btn:focus {
    background: no-repeat center url("img/delete-btn.svg");
}

.todo-list__delete-btn:hover {
    cursor: pointer;
}

.bottom-panel {
    border: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid var(--background-app-color);
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

.bottom-panel__task-counter {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

.bottom-panel__tabs {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.botton-panel__input:checked + .bottom-panel__label::before {
    border-radius: 5px;
    position: absolute;
    display: inline;
    content: "";
    height: 21px;
    width: 65px;
    border: 1px solid #EBDFDF;
}

/* .botton-panel__input:checked + .bottom-panel__label {
    width: 100px;
    border-radius: 10px;
    border: 1px solid #EBDFDF;
} */

/* .botton-panel__input:focus + .bottom-panel__label {
    border: 1px solid #EBDFDF;
} */

 .bottom-panel__tabs input[type=radio] {
    appearance: none;
} 

.bottom-panel__clear-btn {
    margin-right: 10px;
}

.clear-complete-btn {
    background-color: var(--app-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border: 0;
    padding: 0;
}

.clear-complete-btn:hover {
    cursor: pointer;
}
